name-x = 0
name-y = -61.875rem
name-width = 1.813rem
name-height = 1.75rem
name = name-x name-y name-width name-height

sprite-image()
    background-image: url('images/icons/sprite.png')
sprite-position(s)
    background-position: s[0] s[1]
sprite-width(s)
    width: s[2]
sprite-height(s)
    height: s[3]
sprite(s)
    sprite-image()
    sprite-position(s)
    sprite-width(s)
    sprite-height(s)
